#
# Basic SSL config for dovecot
#
ssl = yes
ssl_cert = <{{ dovecot_crtdir }}/{{ dovecot_cert_file }}
ssl_key = <{{ dovecot_keydir }}/{{ dovecot_key_file }}
{% if ansible_distribution_major_version|int >= 10 %}
ssl_min_protocol = TLSv1.2
{% else %}
ssl_protocols = !SSLv3 !TLSv1
{% endif %}
ssl_cipher_list = ALL:HIGH:!SSLv2:!MEDIUM:!LOW:!EXP:!RC4:!MD5:!aNULL:@STRENGTH
